<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Verification</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css" media="all">
    <!-- <link href="index.css" rel="stylesheet" type="text/css" media="all"> -->
</head>
<body>
    <div class="title">
        <div class="text">歡迎光臨，請輸入帳號密碼</div>
    </div>
    <form action="/signin" method="POST">
        <div class="login">登入系統</div>
        <div class="input">帳號 <input type="text" name="account" /></div>
        <div class="input">密碼 <input type="password" name="password" /></div>
        <button>登入</button>
    </form>
</body>
</html>