<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Check</title>
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet" type="text/css" media="all">
    <!-- <link href="signin.css" rel="stylesheet" type="text/css" media="all"> -->
    <!-- <script src="{{ url_for('static', filename='signin.js') }}" type="text/javascript"></script> -->
</head>
<body>
    <div class="message">
        <div class="text">驗證帳號密碼中</div>
    </div>
</body>
</html>